<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/neon-animation/neon-shared-element-animatable-behavior.html">

<dom-module id="a-one">
  <style>
    :host {
      display: block;
    }
    .blok {
    width: 50vw;
    height: 50vh;
  }


 .redback {
    background-color: var(--primary-red);
    color: white;
  }
  .greenback {
    background-color: green;
    color: white;
  }
  </style>
  <template>
    <div class="layout vertical">

    <div class="layout horizontal">
      <div class="blok redback">
        <div id="hero">voetbal</div>
      </div>
      <div class="blok greenback">
        <div>sokker</div>
      </div>
    </div>
  
    <div>locatie</div>

  </div>
  </template>
</dom-module>
<script>
(function() {
  Polymer({
    is: 'a-one',

    behaviors: [
      Polymer.NeonSharedElementAnimatableBehavior
    ],

    properties: {
      foo: {
        type: String,
        value: 'bar',
        notify: true
      },

      sharedElements: {
        type: Object,
        value: function() {
          return {
            'hero': this.$.hero,
          }
        }
      },

      animationConfig: {
        type: Object,
        value: function() {
          return {
            'exit': {
              name: 'hero-animation',
              id: 'hero',
              fromPage: this,
              timing: {
                delay: 15000
              }
            }
          }
        }
      }
    }
  });
})();
</script>
