<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animatable.html">
<link rel="import" href="../../bower_components/neon-animation/animations/hero-animation.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animations.html">

<dom-module id="a-activiteitenstage">
  <style>
    :host {
      display: block;
    }




  neon-animated-pages {
        height: 100%;
      }


  </style>
  <template>

  <neon-animated-pages selected="{{select}}">


  <a-one on-click="voetbal"></a-one>

   <a-twi on-click="returnone"></a-twi>



  </neon-animated-pages>

  </template>
</dom-module>
<script>
(function() {
  Polymer({
    is: 'a-activiteitenstage',

 
    properties: {
  
},

    

    ready: function(){
      this.select = 0;
    },

    voetbal: function(){
      this.select = 1;
      console.log('clike!');
    },

    returnone: function(){
      this.select = 0;
      console.log('clike!');
    }
  });
})();
</script>
