<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/neon-animation/neon-shared-element-animatable-behavior.html">

<dom-module id="a-twi">
  <style>
    :host {
      display: block;
    }
    .blok {
    width: 50vw;
    height: 50vh;
  }

  #hero {
    font-size: 40px;
  }


 .redback {
    background-color: var(--primary-red);
    color: white;
    height: 100%;
    width: 100%;
  }
  .greenback {
    background-color: green;
    color: white;
  }
  </style>
  <template>
     
      <div id="hero" class="redback">voetbal</div>
      <div>hallo</div>
      
  </template>
</dom-module>
<script>
(function() {
  Polymer({
    is: 'a-twi',

    behaviors: [
      Polymer.NeonSharedElementAnimatableBehavior
    ],

    properties: {
      foo: {
        type: String,
        value: 'bar',
        notify: true
      },

      sharedElements: {
        type: Object,
        value: function() {
          return {
            'hero': this.$.hero
          }
        }
      },

      animationConfig: {
        type: Object,
        value: function() {
          return {
            'entry': {
              name: 'hero-animation',
              id: 'hero',
              toPage: this,
              timing: {
                delay: 15000
              }
            },
            'exit': [{
              name: 'fade-out-animation',
              node: this.$.hero,
              timing: {
                delay: 15000
              }
            }, {
              name: 'transform-animation',
              transformFrom: 'none',
              transformTo: 'translate(0px,-200vh) scale(0.9,1)',
              node: this.$.hero,
              timing: {
                delay: 15000
              }
            }]
          }
        }
      }
    }
  });
})();
</script>
